{% extends 'base.html.twig' %}

{% block title %}Edit Formation{% endblock %}

{% block body %}
    <h1>Edit Formation</h1>

    {{ include('formation_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_formation_admin_index') }}">back to list</a>

    {{ include('formation_admin/_delete_form.html.twig') }}
{% endblock %}
