{% extends 'base.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
    <h1>Create new Cours</h1>

    {{ include('cours_admin/_form.html.twig') }}

    <a href="{{ path('app_cours_admin_index') }}">back to list</a>
{% endblock %}
